h1, h2 {
  font-family: 'Crimson Pro', serif;
  font-size: 10vw;
}

#storeProfiles {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  display: flex;
  margin-top: 4%;
  margin-bottom: 6%;
}

nav img {
  width: 150px;
}

nav ul {
  display: flex;
}
nav li {
  display: flex;
  font-size: 6vw;
  margin-left: 10vw;
  color: #88F2F2;
  font-family: 'Crimson Pro', serif;
  font-size: 20px;
  flex-direction: row;
  align-items: center;
}

body {
  border-color: #000;
  background-color: #88F2F2;
  border: 2px;
  margin: 5%;
  padding: 2%;

}

table, th, td {
  border: 1px solid;
  width: 100%;
  border-color: #000;
  border-collapse: collapse;

}

main section article {
  padding: 4%;
}

main section button {
  margin-top: 4%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}